html,body{
    height:100%;
    width:100%;
    overflow: hidden;
    background-color: #E0E0E0;
    font-family: PingFang SC,STHeitiSC-Light,Helvetica-Light,arial,sans-serif;
}

body{
    font-size: 16px;
    position:fixed;
    top:0;
}