@font-face {
    font-family: 'iconfont';  /* project id 1364030 */
    //at.alicdn.com/t/font_1364030_kizg8f0q0ek.css
    src: url(http://at.alicdn.com/t/font_1364030_kizg8f0q0ek.eo);
    src: url(http://at.alicdn.com/t/font_1364030_kizg8f0q0ek.eot?#iefi) format('embedded-opentype'),
    url(http://at.alicdn.com/t/font_1364030_kizg8f0q0ek.woff) format('woff2'),
    url(http://at.alicdn.com/t/font_1364030_kizg8f0q0ek.wof) format('woff'),
    url(http://at.alicdn.com/t/font_1364030_kizg8f0q0ek.tt) format('truetype'),
    url(http://at.alicdn.com/t/font_1364030_kizg8f0q0ek.svg#iconfon) format('svg');
  }