$main-color:#1889F9;


// music bar 的 层级
$bar_index:1000;
$list_index:1100;
$list_layer_index:1099;
$control_index:1200;


$player-list-height: 400px;
$player-list-info-height: 40px;

$player-list-item-height: 40px;

$player-list-close-btn-height: 40px;